<h1>Restaurants</h1>
<ul class="thumbnails">
<% @restaurants.each do |rest| %>
  <li class="span4">
    <div class="thumbnail">
    	<%= link_to rest do %>
    	  <%= image_tag rest.image, size: "300x200", alt: rest.name %>
	      <h3><%= rest.name %></h3>
	    <% end %>
      <p><%= rest.price_range %> | <%= rest.neighbourhood %> | <%= rest.category.name %></p>
    </div>
  </li>
<% end %>
</ul>
