<h1>Restaurants</h1>
<%= button_to "Show by Category", categories_path, class: "btn btn-primary", method: :get %>
<ul class="thumbnails">
<% @restaurants.each do |rest| %>
  <li class="span4">
    <div class="thumbnail">
    	<%= link_to rest do %>
    	  <%= image_tag rest.image, size: "300x200", alt: rest.name %>
	      <h3><%= rest.name %></h3>
	    <% end %>
      <p><%= rest.price_range %> | <%= rest.neighbourhood %> | <%= link_to rest.category.name, rest.category %></p>
    </div>
  </li>
<% end %>
</ul>
